<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

	<div th:fragment="head">
	<!-- head에 공통으로 사용하겠음 head fragment 선언 : 모든 페이지마다 공통으로 계속 동일하게 들어갈 영역 -->
	
	
		
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
			<title>head</title>
			
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap" rel="stylesheet">
			
			<link rel="stylesheet" th:href="@{/css/mystyle.css}" />
		
	
	
	</div>
	
	
<body>
	
	
	
</body>
</html>